/pcd/jackal0/*.pcd
/pcd/jackal1/*.pcd
/pcd/jackal2/*.pcd
/pcd/slugcat0/*.pcd
/pcd/slugcat1/*.pcd
/pcd/slugcat2/*.pcd
/pcd/slugcat_0/*.pcd
/pcd/slugcat_1/*.pcd
/pcd/slugcat_2/*.pcd
/pcd/robot_0/*.pcd
/pcd/robot_1/*.pcd
/pcd/robot_2/*.pcd
/log/*.txt
/log/img
/log/pcm_matrix/*.txt
/cmake-build-debug
/.idea
/config/consistency*
/docker/tmp/*

